# Linting tools
pep8==1.7.0
isort==4.2.5
flake8==2.6.2
bandit==1.3.0

# Flake 8 plugins
flake8-debugger==1.4.0
flake8-commas==0.4.1
flake8-isort==1.3
flake8-comprehensions==1.4.0
hacking==0.11.0
flake8-blind-except==0.1.1
flake8-tidy-imports==1.0.2
flake8-todo==0.7
flake8-mutable==1.1.0

# Testing
tox
